code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc;
}

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none;
  }
}

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray;
}

.token.punctuation {
  color: #999;
}

.namespace {
  opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #a67f59;
  background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a;
}

.token.function {
  color: #DD4A68;
}

.token.regex,
.token.important,
.token.variable {
  color: #e90;
}

.token.important,
.token.bold {
  font-weight: 900;
  color: black;
}
.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

* {
  box-sizing: border-box;
}

.write, textarea, pre, * {
  font-family: 'Cousine', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;;
}

body, html {
  padding: 0;
  min-height: 100%;
  margin: 0;
}

html {
  background: #f5f6f6;
  padding-bottom: 85vh;
}

html.fullscreen .write {
  font-size: 2.6vh;
  max-width: 880px;
  line-height: 40px;
}

main > .write {
  /* margin-top: 10px; */
  margin: 10px auto;
  max-height: 1000000000000px;
}

html.fullscreen > main > .write {
  margin-top: 44px;
}

.write {
  position: relative;
  -webkit-transition: font-size 50ms ease-out, width 50ms ease-out, line-height 50ms ease-out;
  -moz-transition: font-size 50ms ease-out, width 50ms ease-out, line-height 50ms ease-out;
  -ms-transition: font-size 50ms ease-out, width 50ms ease-out, line-height 50ms ease-out;
  -o-transition: font-size 50ms ease-out, width 50ms ease-out, line-height 50ms ease-out;
  transition: font-size 50ms ease-out, width 50ms ease-out, line-height 50ms ease-out;
  background: #f5f6f6;
  height: 100%;
  outline: none;
  white-space: pre-wrap;
  color: #424242;
  font-size: 14.5px;
  line-height: 24px;
  max-width: 580px;
  margin: 0 auto;
  display: block;
  /* min-height: 100px; */
}


body > .write {
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}

textarea.write {
  padding: 0;
  pointer-events: auto;
  resize: none !important;
  position: absolute;
  top: 0;
  border: 0;
  color: #20bbfc;
  text-shadow: 0px 0px 0px transparent;
  -webkit-text-fill-color: transparent;
  box-sizing: content-box;
  /* outline: 1px solid red; */
  background: transparent;
  margin: 0 auto;
  display: block;
  max-width: 580px;
  left: inherit;
  width: 100%;
  max-height: 1000000px !important;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder{
  color: transparent;
  text-shadow: none;
  -webkit-text-fill-color: initial;
}

::selection {
  background: #a1e3ff;
  color: transparent;
}
::-moz-selection {
  background: #a1e3ff;
  color: transparent;
}

pre.write {
  pointer-events: none;
}

.token.title {
  color: black;
}

.token.url {
  color: blue;
}

#show-actions {
  position: fixed;
  top: 0px;
  right: 0;
  z-index: 2;
  font-size: 24px;
  color: #ccc;
  width: 34px;
  height: 34px;
  /* outline: 1px solid red; */
  line-height: 2.4rem;
  text-align: center;
  cursor: pointer;
  border: 0;
  background: transparent;
}

#nav-lines {
  fill: #00BCD4;
}

nav {
  /* background: white; */
  padding-bottom: 10px;
  margin: 0;
  /* transform: translateY(-100px); */
  border-bottom: 1px solid white;
  padding-top: 0;
}

nav button {
  font-family: sans-serif;
  font-size: 18px;
  border: none;
  background: #00BCD4;
  color: white;
  border-radius: 3px;
  padding: 5px 15px;
  cursor: pointer;
}

main {
  transition: transform 100ms ease-out;
  transform: translateY(-52px);
  min-height: 100%;
  position: relative;
  display: block;
  padding: 10px;
}

.show-actions {
  transform: translateY(0px);
}